*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.headerpart{
    
    background-color: rgb(239, 205, 199);

}
.container{
    width: 1320px;
    margin: 0 auto;
}
.logomenu ul li{
    display: inline-block;
}
.logomenu{
    text-align: center;
}
.logomenu ul li a{
    padding: 0 15px;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    line-height: 50px;
}
